<p id="notice"><%= notice %></p>

<p>
  <strong>Street address:</strong>
  <%= @building.street_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @building.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @building.state %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @building.postal_code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @building.description %>
</p>

<%= link_to 'Back', buildings_path %>